@{
    ViewBag.Title = "Link không hợp lệ";
    Layout = "~/Views/Shared/Tranhchu_LayoutPage1.cshtml";
}

<h3>Link không hợp lệ hoặc đã hết hạn</h3>

<a href="@Url.Action("Index","QuenMatKhau")">Thử lại</a>